
            h1{
                color:cadetblue;
            }
            img{
                width:400px;
            }
            #thirdDiv{
                height:600px;
                width:500px;
                background-color:darkslategray;
                padding: 50px;
                border: 15px;
                border-color: blueviolet;
                border-style: dashed;
            }
            #spanId{
                font-size: 18px;
                margin: 50px;
            }
            div{
                background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-simple-e-commerce-character-web-page-image_21198.jpg);
            }